<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 w-full nb-4">
    <div class="flex flex-wrap items-center justify-between w-full">
        <div class="flex">
            <img src="./../assets/moviesImg/Star_Wars_Logo.png" class="h-10 mr-2">
            <h1 class="text-2xl font-bold">Star Wars</h1>
        </div>
        <div class="w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 items-center rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLink='/films' routerLinkActive="active-link"
                        class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                        Films
                    </a>

                </li>
                <li>
                    <a routerLink="/characters" routerLinkActive="active-link"
                        class="pointer-events-none block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                        Characters
                    </a>
                </li>
                <li>
                    <a routerLink="/vehicles" routerLinkActive="active-link"
                        class="pointer-events-none block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                        Vehicles
                    </a>
                </li>
                <li>
                    <button (click)="openContactModal()"
                        class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Contact
                        Us</button>
                    <app-contact *ngIf="showContactModal" (closeModalEvent)="closeContactModal()"></app-contact>

                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .active-link {
        color: blue;
    }
</style>