<div class="px-2 sm:px-4 py-2.5">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold text-red-400 mb-4 nt-4">{{title}} </h1>
    <input type="text" placeholder="Search characters" [(ngModel)]="inputValue" (ngModelChange)="onValueChange($event)">
  </div>
    
    <div class="flex flex-col w-full">
      <div class="flex flex-wrap -mx-2">
        <div *ngFor="let actor of characters" class= "flex-shrink-0 sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-2 mb-4 h-custom w-custom">
          <div class="border border-gray-600 shadow-md rounded-md">
            <div class="p-4">
              <div class="flex items-center">
                <div class="flex-shrink-0 w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center">
                  {{ actor.name.charAt(0) }}
                </div>
                <h2 class="text-md font-bold ml-2 text-yellow-400">{{ actor.name }}</h2>
              </div>
              <p class="text-slate-200 mb-2 mt-2">Gender: {{ actor.gender }}</p>
              <p class="text-slate-200 mt-2 mb-2">Home world: {{ actor.homeworld.name }}</p>
              <p class="text-slate-200 mb-2">Eye color: {{ actor.eyeColor }}</p>
              <p class="text-slate-200 mb-2">Skin color: {{ actor.skinColor }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  